<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net452" />
  <package id="leonardo-wpf" version="0.9.1" targetFramework="net452" />
  <package id="NLog" version="4.5.3" targetFramework="net452" />
  <package id="qlik-resources" version="4.86.9" targetFramework="net452" />
</packages>